<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
    <title>About</title>
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>This website is created by Gourab Saha. It uses data from <a href="https://www.mapbox.com/">mapbox</a> and <a href="https://www.weatherbit.io/">weatherbit</a>. </p>
    <img class="portrait" src="/img/smile.jpg" >
</div>

{{>footer}}
</body>
</html>